* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  overflow: hidden;
}

.contenedor-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.cabecera {
  background-image: url('../assets/header.png'); /* Ajusta según la ubicación de tu archivo CSS */
  width: 100%;
  height: 16vh;
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: space-between; /* Distribuye elementos uniformemente */
  padding: 0 1%; /* Ajusta el padding según sea necesario */
  overflow: hidden;
}

.logo {
  width: auto; /* Ajusta el ancho según sea necesario */
  box-sizing: border-box;
  margin-top: -27px; /* Ajusta la distancia hacia arriba según sea necesario */
}


.navegacion {
  display: flex;
  align-items: center;
}

.navegacion a {
  margin-left: 10px; /* Espacio entre enlaces, ajusta según necesites */
}

.link {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}

.link:hover {
  background-color: #dddddd02;
}

.banner {
  color: #fff;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.banner_textos {
  padding-left: 3%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.banner_textos h1 {
  font-size: 75px;
}

.banner_textos p {
  font-size: 24px;
  margin: 20px 0 70px;
}

.banner_logo {
  padding-top: 13.8%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; /* Ajusta el ancho del banner según tus necesidades */
  max-height: 100%;
  height: 100%; /* Ajusta la altura del banner según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1; /* Ajusta la opacidad según tus necesidades */
}

.banner_logo img {
  max-width: 100%;
  height: auto;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  width: 400px;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

.foto_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.foto_img:hover {
  transform: scale(1.1);
}

.foto_img img {
  max-width: 100%;
  height: auto;
}

.foto_img h3 {
  margin: 10px 0;
}

.foto_img p {
  font-size: 12px;
}

/* INICIO CONTENEDOR 2 */
.contenedor-2 {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/WindingoFondo1Blur.jpg');
  background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}


.text {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fotos {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.foto_img {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.foto_img:hover {
  transform: scale(1.1);
}

.foto_img h3 {
  margin: 10px 0;
  position: relative; /* Añadido para alinear el icono */
}

.foto_img h3:before {
  content: ''; /* Añadimos contenido vacío para el ícono */
  display: inline-block; /* Hacemos que sea un bloque en línea */
  width: 20px; /* Ancho del ícono */
  height: 20px; /* Alto del ícono */
  background-image: url('../assets/badge-check-solid-24.png'); /* Ruta de tu icono */
  background-size: cover; /* Ajustamos el tamaño del ícono */
  margin-right: 100px; /* Espacio entre el ícono y el texto */
  position: absolute; /* Posicionamos absolutamente para alinear correctamente */
  left: -25px; /* Ajustamos la posición a la izquierda del texto */
  top: 50%; /* Centramos verticalmente */
  transform: translateY(-50%); /* Ajustamos para centrar verticalmente */
}

.text p {
  margin-top: 18px;
  font-size: 12px;
}

/* INICIO CONTENEDOR 3 */
.contenedor-3 {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/fondo2.png);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.contenedor-3_img {
  width: 45%;
  padding-right: 20%;
}
.contenedor-3_text {
  width: 35%;
}

.contenedor-3_text h2 {
  font-size: 50px;
}

.contenedor-3_text p {
  margin-top: 11%;
  margin-bottom: 11%;
  font-size: 26px;
}

.contenedor-3_text a {
  background-color: firebrick;
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

.contenedor-3_text a:hover {
  background-color: #fff;
  color: firebrick;
  transition: 0.5s;
}

/* INICIO CONTENEDOR 4 */
.contenedor-4 {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/fondo2.png');
  background-color: #609966;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  box-sizing: border-box;
}

.contenedor-4_texto {
  max-width: 45%;
  position: relative; /* Añadimos posición relativa para posicionar el ícono */
}

.contenedor-4_texto h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 300; /* Fuente más ligera */
}

.contenedor-4_texto h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 300; /* Fuente más ligera */
}

.contenedor-4_texto h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
  position: relative; /* Añadimos posición relativa para posicionar el ícono */
  padding-left: 30px; /* Espacio para el ícono */
  font-weight: 300; /* Fuente más ligera */
}



.contenedor-4_texto h5:before {
  content: ''; /* Añadimos contenido vacío para el ícono */
  display: inline-block; /* Hacemos que sea un bloque en línea */
  width: 20px; /* Ancho del ícono */
  height: 20px; /* Alto del ícono */
  background-image: url('../assets/check-regular-24.png'); /* URL del ícono */
  background-size: cover; /* Ajustamos el tamaño del ícono */
  position: absolute; /* Posicionamos absolutamente para alinear correctamente */
  left: 0; /* Ajustamos la posición a la izquierda del texto */
  top: 50%; /* Centramos verticalmente */
  transform: translateY(-50%); /* Ajustamos para centrar verticalmente */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.contenedor-4_img {
  max-width: 80%; /* Ajustado para dar más espacio a la imagen */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  padding-left: 5%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.contenedor-4_img:hover {
  transform: scale(1.1);
}

.contenedor-4_img img {
  max-width: 100%;
  height: auto;
}


/* INICIO CONTENEDOR 5 */
/* INICIO CONTENEDOR 5 */
/* INICIO CONTENEDOR 5 */

.contenedor-5 {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

}

.contenedor-5_texto {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-5_texto h2 {
  padding-top: 10%;
  font-size: 50px;
}

.contenedor-5_texto p {
  font-size: 30px;
}

.contenedor-5_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.data {
  border-radius: 50%;
  background: linear-gradient(225deg, #4dd63115, #2d7a1e28);
  box-shadow: -1px 1px 64px #64f347, 10px -5px 120px #2d7a1e5d;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-5_data h3 {
  font-size: 200%;
}

.contenedor-5_data p {
  font-size: 120%;
}

.contenedor-5_texto h2 {
  font-size: 70px;
  padding-bottom: 5%;
}

.contenedor-5_texto p {
  margin: 15px 10px;
  padding-bottom: 5%;
}

.imagenes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Cambiado para que las imágenes se alineen arriba */
  width: 70%;
  padding-top: 20px;
}

.imagenes > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenes img {
  width: 400px; /* Aumentado el tamaño de las imágenes */
  height: auto;
}

.predi {
padding-left: -50%;
}






/* INICIO CONTENEDOR 6 */
/* INICIO CONTENEDOR 6 */
/* INICIO CONTENEDOR 6 */

.contenedor-6 {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/fondo2.png);
  
}
.contenedor-6_texto {
  width: 100%;
  height: 58vh;
  margin-top: 5%;
  font-size: 35px;
  padding: 253px 335px;
}
.contenedor-6_liga {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.liga {
  position: relative; /* Establecer la posición como relativa */
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 25px 35px;
  z-index: 1
}
.liga::before {
  content: ""; /* Necesario para que ::before funcione */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/Liga0.jpg);
  background-size: cover; /* Ajusta el tamaño para cubrir el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  border-radius: 8px;
  z-index: -1; /* Coloca el fondo detrás del contenido */
}
.liga1 {
  position: relative; /* Establecer la posición como relativa */
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 25px 35px;
  z-index: 1
}
.liga1::before {
  content: ""; /* Necesario para que ::before funcione */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/Liga1.jpg);
  background-size: cover; /* Ajusta el tamaño para cubrir el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  border-radius: 8px;
  z-index: -1; /* Coloca el fondo detrás del contenido */
}
.liga2 {
  position: relative; /* Establecer la posición como relativa */
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 25px 35px;
  z-index: 1
}
.liga2::before {
  content: ""; /* Necesario para que ::before funcione */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/Liga2.jpg);
  background-size: cover; /* Ajusta el tamaño para cubrir el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  border-radius: 8px;
  z-index: -1; /* Coloca el fondo detrás del contenido */
}
.contenedor-6_liga h3 {
  font-size: 32px;
  font-weight: 500;
}
.contenedor-6_liga img {
  object-fit: cover;
  width: 60%;
}
.contenedor-6_liga h4 {
  font-size: 30px;
  font-weight: 500;
}
.contenedor-6_liga p {
  font-size: 18px;
  font-weight: 300;
}


.contenedor-6_liga a {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  width: 200px;
  text-align: center; /* Centra el texto horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Quita el subrayado del enlace */
}

.contenedor-6_liga a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.contenedor-6_liga a:hover::after {
  transform: scale(4);
}

.contenedor-6_liga a:hover {
  border-color: #666666;
  background: #292929;
}



/* INICIO CONTENEDOR 7 */
/* INICIO CONTENEDOR 7 */
/* INICIO CONTENEDOR 7 */
.contenedor-7 {
  color: #fff;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/fondo2.png);
  position: relative;
}
.formulario {
  position: absolute;
  background-color: #25410b60;
  width: 40%;
  padding: 15px 36px;
  border-radius: 10px;
}
.formulario-titulo {
  font-size: 25px;
  margin: 25px auto;
  text-align: center;
}
.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.item-1,
.item-2 {
  width: 95%;
  height: 45px;
  margin: 7px auto;
  outline: none;
  text-align: center;
}
.item-3 {
  text-align: center;
  width: 98%;
  height: 45px;
  margin: 7px auto;
  grid-column: 1/3;
  outline: none;
}
.textarea {
  text-align: center;
  width: 98%;
  height: 100px;
  margin: 7px auto;
  grid-column: 1/3;
  outline: none;
  resize: none;
}
.submit {
  width: 30%;
  height: 45px;
  margin: 7px auto;
  grid-column: 1/3;
}

/* INICIO CONTENEDOR 8 */
/* INICIO CONTENEDOR 8 */
/* INICIO CONTENEDOR 8 */
.contenedor-8 {
  color: #fff;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.footer-text {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.box2,
.box3,
.box4 {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.box1 h3,
.box2 h3,
.box3 h3,
.box4 h3 {
  font-size: 28px;
  margin: 25px 0px;
}
.box1 p {
  font-size: 20px;
}
.box2 a,
.box3 a,
.box4 a {
  text-decoration: none;
  color: #fff;
  margin: 5px 0px;
  font-size: 20px;
}
.rs {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 25px 0px;
}
.rs img {
  object-fit: cover;
  height: 85%;
  margin-right: 15px;
}
.pie {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0px solid #4a4a4a;
}
.pie p {
  font-size: 18px;
}
.pie a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.resolucion {
  width: 99%;
  text-align: center;
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
    display: none;
  }
  .movil {
    display: none;
  }
}

@media (min-width: 991px) {
  .tablet {
    display: none;
  }
  .movil {
    display: none;
  }
}

/* INICIO LISTA */
/* INICIO LISTA */
/* INICIO LISTA */



.section-lista{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/fondo2.png);
  
}

.tablaLista{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.botonesLista{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.boton-Agregar {
  width: 50%;
  font-size: 24px; 
  padding: 2px 0px; 
  margin-top: 10%;
}

.boton-Borrar {
  width: 50%;
  font-size: 24px; 
  padding: 2px 0px; 
  margin-top: 0.5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 0px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1%;
}
tr:nth-child(even) {
  background-color: #dddddd;
}



/* INICIO PRODUCTOS */
/* INICIO PRODUCTOS */
/* INICIO PRODUCTOS */
.volver {
  padding-left: 3%;
  color: #fff;
  width: 35%;
  height: calc(160vh - 150px);
  display: flex;
  justify-content: start;
  align-items: center;
}
.volver a {
  padding-left: 10%;
  background-color: #ff0303;
  width: 40%;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
}
.volver a:hover {
  padding-left: 3%;
  padding: 20px 10px;
  background-color: #fff;
  color: #ff0000;
  transition: 0.5s;
}



@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.gradient {

    background: linear-gradient(334deg, #0a3a15, #1e453e, #609966);
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite; /* Ajustar la duración a 4 segundos */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.slide-in-br {
	-webkit-animation: slide-in-br 0.85s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-br 0.85s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}



.slide-in-bl {
	-webkit-animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
            transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(1000);
            transform: translateY(0) translateX(1000);
    opacity: 1;
  }
}
@keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
            transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}






/* ///////////////////////////////////////// GALERIA /////////////////////////////////////////////
/* ///////////////////////////////////////// GALERIA /////////////////////////////////////////////
/* ///////////////////////////////////////// GALERIA /////////////////////////////////////////////
/* ///////////////////////////////////////// GALERIA /////////////////////////////////////////////
/* ///////////////////////////////////////// GALERIA ////////////////////////////////////////////*/


/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  display: block; /* Asegura que las imágenes no tengan espacio debajo */
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}

.column img {
  margin-top: 5px;
  transition: transform 0.3s ease; /* Añade transición suave para el efecto */
}

/* Efecto de hover */
.column img:hover {
  transform: scale(1.02); /* Aumenta el tamaño de la imagen al pasar el cursor ligeramente */
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

.contenedor-10 {
  width: 100%;
}

.contenedor-11 {
  position: relative;
  overflow: hidden;
  height: 50vh; /* Ajusta la altura del contenedor según tus necesidades */
}

.contenedor-11::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/FotoPro5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(10px); /* Aplica el desenfoque */
  z-index: -1; /* Asegúrate de que el pseudo-elemento esté detrás del contenido del contenedor */
}

.contenedor-11 img {
  position: relative;
  z-index: 1; /* Asegúrate de que la imagen esté por delante del pseudo-elemento */
  max-width: 100%;
  height: auto; /* Ajusta la imagen para que se mantenga dentro del contenedor */
}



/* ///////////////////////////////////////// LISTA /////////////////////////////////////////////
/* ///////////////////////////////////////// LISTA /////////////////////////////////////////////
/* ///////////////////////////////////////// LISTA /////////////////////////////////////////////
/* ///////////////////////////////////////// LISTA /////////////////////////////////////////////
/* ///////////////////////////////////////// LISTA ////////////////////////////////////////////*/

.tablaLista body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}


.contenedor-21 {
  overflow: hidden;
  height: 10vh; /* Ajusta la altura del contenedor según tus necesidades */
  width: 100%;
}

.section-lista {
  background-color: #fff;
  padding: 20px;
  position: relative;
  height: 100vh; /* Asegura que la sección ocupe toda la altura visible */
}

.section-lista h1, .section-lista h4 {
  text-align: center;
}

.tablaLista {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tablaLista th, .tablaLista td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tablaLista th {
  background-color: #333;
  color: #fff;
  align-items: center; /* Alinea verticalmente iconos con texto */
  padding: 10px;
  text-align: left;
}



.tablaLista th img {
  margin-right: 10px; /* Ajusta el espacio entre el icono y el texto */
  width: 20px; /* Ajusta el tamaño del icono según sea necesario */
  height: 20px;
}

.tablaLista th span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px; /* Ajusta el espacio entre el icono y el texto */
}

.botonesLista {
  position: absolute;
  
  bottom: 170px; /* Ajusta esta propiedad para mover los botones más abajo */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%; /* Asegura que los botones ocupen el ancho completo de su contenedor */
}

.boton-Agregar, .boton-Borrar {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.boton-Agregar:hover, .boton-Borrar:hover {
  background-color: #45a049;
}
